.header{
    max-width: 1400px;
    width:100%;
    margin:0 auto;
    display: flex;
    align-items: center;
    padding:10px 50px;
}
a{
    width: fit-content;
    margin-left: 50px;
    text-decoration: none;
    color:#C7D985;
    font-size: 25px;
    letter-spacing: 1px;
    transition: all .3s;
}
a:hover{
    color:#FFF59D;
}
.headerImg{
    max-width: 100px;
    height: 100px;
    object-fit: contain;
}